.container
	.row
		%h2= @post.title
		%p= @post.text


		= link_to "Back", root_path, class: "btn btn-sm btn-default"
		= link_to "Edit", edit_post_path(@post), class: "btn btn-sm btn-default"
		= link_to "Delete", post_path(@post), method: :delete,  class: "btn btn-sm btn-default"